@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@theme {
  --color-orange: #e56c06;
  --color-muted : #000929;
  --radius-50: 50%; 
}

body {
  /* overflow: hidden; */
  height: 100vh;
}

.listbox-option{
  width: -webkit-fill-available;
}
